<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who we are</h2>
                <hr class="light">
                <p class="text-faded text-justify">
                    Yale Medical Centre accepts new and transferring patients with opioid dependence.
                    Opioid dependence is a complex health condition that often requires long-term treatment and care.
                    Our clinic provides pharmacological and psychosocial treatment.
                    The former approach includes Opioid replacement therapy (ORT) which has proven to be the most
                    effective treatment for improving the health and living condition of people experiencing problematic
                    illicit opiate use or dependence. Careful counselling addresses the psychosocial side of issue.
                  </p>
                  <p>
                      Please note: we are not walk-in and family clinic
                </p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">For more information <span>call us!</span></a>
            </div>
        </div>
    </div>
</section>
