<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user-md wow bounceIn text-primary"></i>
                    <h3>Professional counselling</h3>
                    <p class="text-muted">Psychosocial treatment is provided via careful counselling.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-stethoscope wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Patient assessment</h3>
                    <p class="text-muted">Weather you a new or transferring patient you will be assessed for the program.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-medkit wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Replacement therapy</h3>
                    <p class="text-muted">Methadone or Suboxone maintenance treatment.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lock wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Confidentiality</h3>
                    <p class="text-muted">We guarantee confidentiality and privacy!</p>
                </div>
            </div>
        </div>
    </div>
</section>
