<table class="table">
  <tbody>
    <tr>
      <td>Monday:</td>
      <td>9:00 AM</td>
      <td> - </td>
      <td>4:00 PM</td>
    </tr>
    <tr>
      <td>Tuesday:</td>
      <td>10:00 AM</td>
      <td> - </td>
      <td>5:00 PM</td>
    </tr>
    <tr>
      <td>Wednesday:</td>
      <td>10:00 AM</td>
      <td> - </td>
      <td>5:00&nbsp;PM</td>
    </tr>
    <tr>
      <td>Thursday:&nbsp;</td>
      <td>10:00 AM</td>
      <td> - </td>
      <td>6:00 PM</td>
    </tr>
    <tr>
      <td>Friday:</td>
      <td>10:00 AM&nbsp;</td>
      <td> - </td>
      <td>3:00 PM</td>
    </tr>
  </tbody>
</table>
